<h1>Welcome to Bloccit</h1>
<p>My page:) have fun</p>

<%= link_to "Follow me", "https://www.facebook.com/viktoria.dounarschabowska/media_set?set=a.10153285066536434.1073741832.644851433&type=3", class: "social-btn" %>
